version: "3.8"
services:
  db:
    image: postgres:15
    container_name: sleeper_db
    environment:
      POSTGRES_USER: sleeper
      POSTGRES_PASSWORD: sleeperpass
      POSTGRES_DB: sleeperdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: sleeper_backend
    environment:
      - DATABASE_URL=postgresql://sleeper:sleeperpass@db:5432/sleeperdb
    ports:
      - "5000:5000"
    depends_on:
      - db
    restart: unless-stopped

volumes:
  postgres_data:
